{% extends 'nucleoDeProyecto/base.html' %}
{% load static %}

{% block bodyclase%}class="estilosNuestraHistoria"{% endblock%}

{% block seccionesTag %} 
<ul>
    <li><a href="{% url 'Index' %}">Productos</a></li>
    <li class="active"><a href="{% url 'NuestraHistoria' %}">Nuestra historia</a></li>
    <li><a href="{% url 'Contactanos' %}">Contáctenos</a></li>
</ul>
{% endblock %}
<script src="{% static 'nucleoDeProyecto/js/app.js' %}"></script>
{% block contenido %}
<section class="content">
    <h1 class="nuestrahistoriah1">Nuestra Historia</h1>
    <br><br>

    <figure>
        <img src="{% static 'nucleoDeProyecto/img/nuestrahistoria.jpg' %}">
    </figure>  
    
    <p class="nuestrahistoriap">Nuestra historia comenzó hace más de 20 años, cuando un grupo de amigos apasionados por las bicicletas se unieron para fundar nuestra empresa. En aquellos tiempos, el ciclismo estaba empezando a tomar fuerza en nuestro país, y nos dimos cuenta de que había una oportunidad para ofrecer productos de calidad a precios accesibles.

        Nosotros mismos éramos ciclistas apasionados y conocíamos bien las necesidades del mercado. <br> <br> Así que empezamos a diseñar y fabricar nuestras propias bicicletas, con el objetivo de ofrecer una alternativa de calidad a las marcas más conocidas; con el tiempo, nuestra empresa fue creciendo y expandiendo su presencia en el mercado. <br> Hoy en día, somos una de las mayores distribuidoras de bicicletas del país, ofreciendo una amplia variedad de modelos para todo tipo de ciclistas.
        
        Pero lo que no ha cambiado a lo largo de todos estos años es nuestro compromiso con la calidad y el servicio al cliente. <br><br> Cada bicicleta que vendemos es cuidadosamente seleccionada y probada para garantizar que cumple con nuestros estándares de calidad. Y nuestro equipo de expertos está siempre dispuesto a brindar asesoramiento y soporte a nuestros clientes.
        
        Estamos orgullosos de nuestra historia y de haber contribuido al crecimiento del ciclismo en nuestro país. Y esperamos seguir siendo parte de la vida de los ciclistas durante muchos años más.</p>
    </section> 
    <footer>
        
        <hr>
        <br>
        <small>©2023 Mayorista Bicileal</small>      
    </footer>


{% endblock %}
